{# purpose of this template: module configuration page #}
{% extends 'RKHelperModule::adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="rkhelpermodule-config">
        {% form_theme form with [
            '@RKHelperModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs">
            {% set tabTitle = __('More settings') %}
            <li role="presentation" class="active">
                <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
            </li>
            {% set tabTitle = __('List views') %}
            <li role="presentation">
                <a id="vars2Tab" href="#tab2" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
            </li>
            {% set tabTitle = __('Images') %}
            <li role="presentation" class=" dropdown">
                <a id="imagesTabDrop" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-controls="imagesTabDropSections" aria-expanded="false" title="{{ tabTitle|e('html_attr') }}">{{ tabTitle }}<span class="caret"></span></a>
                <ul id="imagesTabDropSections" class="dropdown-menu" aria-labelledby="imagesTabDrop">
                <li>
                    <a id="imagesLinkerLinkerImageTab" href="#tabImagesLinkerLinkerImage" role="tab" data-toggle="tab" aria-controls="tabImagesLinkerLinkerImage">{{ __('Linkers linker image') }}</a>
                </li>
                <li>
                    <a id="imagesCarouselItemItemImageTab" href="#tabImagesCarouselItemItemImage" role="tab" data-toggle="tab" aria-controls="tabImagesCarouselItemItemImage">{{ __('Carousel items item image') }}</a>
                </li>
                <li>
                    <a id="imagesImageMyImageTab" href="#tabImagesImageMyImage" role="tab" data-toggle="tab" aria-controls="tabImagesImageMyImage">{{ __('Images my image') }}</a>
                </li>
                <li>
                    <a id="imagesInfoTitleImageTab" href="#tabImagesInfoTitleImage" role="tab" data-toggle="tab" aria-controls="tabImagesInfoTitleImage">{{ __('Infos title image') }}</a>
                </li>
                </ul>
            </li>
            {% set tabTitle = __('Integration') %}
            <li role="presentation">
                <a id="vars4Tab" href="#tab4" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
            </li>
            </ul>

            {{ form_errors(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledby="vars1Tab">
                    {% set tabTitle = __('More settings') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                        <p class="alert alert-info">{{ __('Here you can manage all basic settings for this application.') }}</p>
                    
                        {{ form_row(form.descriptionLengthInfo) }}
                        {{ form_row(form.descriptionLengthInfoList) }}
                        {{ form_row(form.descriptionLengthImage) }}
                        {{ form_row(form.descriptionLengthImageList) }}
                        {{ form_row(form.useLocale) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="vars2Tab">
                    {% set tabTitle = __('List views') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                        <p class="alert alert-info">{{ __('Here you can configure parameters for list views.')|nl2br }}</p>
                    
                        {{ form_row(form.linkerEntriesPerPage) }}
                        {{ form_row(form.carouselItemEntriesPerPage) }}
                        {{ form_row(form.carouselEntriesPerPage) }}
                        {{ form_row(form.imageEntriesPerPage) }}
                        {{ form_row(form.infoEntriesPerPage) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabImagesLinkerLinkerImage" aria-labelledby="imagesLinkerLinkerImageTab">
                    {% set tabTitle = __('Image settings for linkers linker image') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        {{ form_row(form.enableShrinkingForLinkerLinkerImage) }}
                        <div id="shrinkDetailsLinkerLinkerImage">
                        {{ form_row(form.shrinkWidthLinkerLinkerImage) }}
                        {{ form_row(form.shrinkHeightLinkerLinkerImage) }}
                        </div>
                        {{ form_row(form.thumbnailModeLinkerLinkerImage) }}
                        {{ form_row(form.thumbnailWidthLinkerLinkerImageView) }}
                        {{ form_row(form.thumbnailHeightLinkerLinkerImageView) }}
                        {{ form_row(form.thumbnailWidthLinkerLinkerImageDisplay) }}
                        {{ form_row(form.thumbnailHeightLinkerLinkerImageDisplay) }}
                        {{ form_row(form.thumbnailWidthLinkerLinkerImageEdit) }}
                        {{ form_row(form.thumbnailHeightLinkerLinkerImageEdit) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabImagesCarouselItemItemImage" aria-labelledby="imagesCarouselItemItemImageTab">
                    {% set tabTitle = __('Image settings for carousel items item image') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        {{ form_row(form.enableShrinkingForCarouselItemItemImage) }}
                        <div id="shrinkDetailsCarouselItemItemImage">
                        {{ form_row(form.shrinkWidthCarouselItemItemImage) }}
                        {{ form_row(form.shrinkHeightCarouselItemItemImage) }}
                        </div>
                        {{ form_row(form.thumbnailModeCarouselItemItemImage) }}
                        {{ form_row(form.thumbnailWidthCarouselItemItemImageView) }}
                        {{ form_row(form.thumbnailHeightCarouselItemItemImageView) }}
                        {{ form_row(form.thumbnailWidthCarouselItemItemImageDisplay) }}
                        {{ form_row(form.thumbnailHeightCarouselItemItemImageDisplay) }}
                        {{ form_row(form.thumbnailWidthCarouselItemItemImageEdit) }}
                        {{ form_row(form.thumbnailHeightCarouselItemItemImageEdit) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabImagesImageMyImage" aria-labelledby="imagesImageMyImageTab">
                    {% set tabTitle = __('Image settings for images my image') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        {{ form_row(form.enableShrinkingForImageMyImage) }}
                        <div id="shrinkDetailsImageMyImage">
                        {{ form_row(form.shrinkWidthImageMyImage) }}
                        {{ form_row(form.shrinkHeightImageMyImage) }}
                        </div>
                        {{ form_row(form.thumbnailModeImageMyImage) }}
                        {{ form_row(form.thumbnailWidthImageMyImageView) }}
                        {{ form_row(form.thumbnailHeightImageMyImageView) }}
                        {{ form_row(form.thumbnailWidthImageMyImageDisplay) }}
                        {{ form_row(form.thumbnailHeightImageMyImageDisplay) }}
                        {{ form_row(form.thumbnailWidthImageMyImageEdit) }}
                        {{ form_row(form.thumbnailHeightImageMyImageEdit) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabImagesInfoTitleImage" aria-labelledby="imagesInfoTitleImageTab">
                    {% set tabTitle = __('Image settings for infos title image') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        {{ form_row(form.enableShrinkingForInfoTitleImage) }}
                        <div id="shrinkDetailsInfoTitleImage">
                        {{ form_row(form.shrinkWidthInfoTitleImage) }}
                        {{ form_row(form.shrinkHeightInfoTitleImage) }}
                        </div>
                        {{ form_row(form.thumbnailModeInfoTitleImage) }}
                        {{ form_row(form.thumbnailWidthInfoTitleImageView) }}
                        {{ form_row(form.thumbnailHeightInfoTitleImageView) }}
                        {{ form_row(form.thumbnailWidthInfoTitleImageDisplay) }}
                        {{ form_row(form.thumbnailHeightInfoTitleImageDisplay) }}
                        {{ form_row(form.thumbnailWidthInfoTitleImageEdit) }}
                        {{ form_row(form.thumbnailHeightInfoTitleImageEdit) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab4" aria-labelledby="vars4Tab">
                    {% set tabTitle = __('Integration') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                        <p class="alert alert-info">{{ __('These options allow you to configure integration aspects.')|nl2br }}</p>
                    
                        {{ form_row(form.enabledFinderTypes) }}
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@RKHelperModule:js/RKHelperModule.Config.js')) }}
{% endblock %}
