{# Purpose of this template: Display one certain info within an external context #}
{{ pageAddAsset('javascript', asset('magnific-popup/jquery.magnific-popup.min.js')) }}
{{ pageAddAsset('stylesheet', asset('magnific-popup/magnific-popup.css')) }}
{{ pageAddAsset('javascript', zasset('@RKHelperModule:js/RKHelperModule.js')) }}
<div id="info{{ info.getKey() }}" class="rkhelpermodule-external-info">
{% if displayMode == 'link' %}
    <p class="rkhelpermodule-external-link">
    <a href="{{ path('rkhelpermodule_info_display', {'id': info.getId()}) }}" title="{{ info|rkhelpermodule_formattedTitle|e('html_attr') }}">
    {{ info|rkhelpermodule_formattedTitle|notifyFilters('helper.filter_hooks.infos.filter')|safeHtml }}
    </a>
    </p>
{% endif %}
{% if hasPermission('RKHelperModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="rkhelpermodule-external-title">
            <strong>{{ info|rkhelpermodule_formattedTitle|notifyFilters('helper.filter_hooks.infos.filter')|safeHtml }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="rkhelpermodule-external-snippet">
        {% if info.titleImage is not empty and info.titleImageMeta|default %}
                    <a href="{{ info.titleImageUrl }}" title="{{ info|rkhelpermodule_formattedTitle|e('html_attr') }}"{% if info.titleImageMeta.isImage %} class="image-link"{% endif %}>
        {% if info.titleImageMeta.isImage %}
            {% set thumbOptions = attribute(thumbRuntimeOptions, 'infoTitleImage') %}
            <img src="{{ info.titleImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ info|rkhelpermodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
        {% else %}
            {{ __('Download') }} ({{ info.titleImageMeta.size|rkhelpermodule_fileSize(info.titleImage.getPathname(), false, false) }})
        {% endif %}
        </a>
        {% else %}&nbsp;{% endif %}
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'block' %}
        ... detail block
    {% elseif source == 'contentType' %}
        ... detail content type
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="rkhelpermodule-external-description">
            {% if info.infoDescription is not empty %}{{ info.infoDescription }}<br />{% endif %}
        </p>
    #}
{% endif %}
</div>
