{# Purpose of this template: Display images within an external context #}
<dl>
    {% for image in items %}
        <dt>{{ image|rkhelpermodule_formattedTitle }}</dt>
        {% if image.myDescription %}
            <dd>{{ image.myDescription|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('rkhelpermodule_image_display', {'id': image.getId()}) }}" title="{{ __('Read more')|e('html_attr') }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
